<md-toolbar class="md-primary md-whiteframe-4dp">
    <div class="md-toolbar-tools">

    <h2 flex md-truncate>Code is a Dope</h2>

    <md-button ui-sref-active="active"><a ui-sref="app.home">Home</a></md-button>
    <md-button ui-sref-active="active"><a ui-sref="app.page1">Page One</a></md-button>
    <md-button ui-sref-active="active"><a ui-sref="app.page2">Page Two</a></md-button>

    <md-button ui-sref-active="active"><a ui-sref="app.auth">My Profile</a></md-button>
    </div>
</md-toolbar>